            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url" 
                    name="avatar_url" 
                    placeholder="http://"
                    value="{{ teacher.avatar_url }}"
                    >
                </div>
            </div>
            <div class="item">
                <div>Nome</div>
                <div>
                    <input type="text" 
                    name="name" 
                    placeholder="Nome"
                    value= "{{ teacher.name }}"
                    >
                </div>
            </div>
            <div class="item">
                <div>Data Nascimento</div>
                <input type="date" 
                name="birth"
                value="{{teacher.birth}}"
                >
            </div>
            <div class="item">
                <div>Grau de escolaridade</div>
                <div>
                    <select name="degree">
                        <option value="Ensino Médio Completo"
                         {% if teacher.degree == 'Ensino Médio Completo' %}
                         selected="selected"
                         {% endif %}>Ensino Médio Completo</option>
                        <option value="Ensino Superior Completo"
                        {% if teacher.degree == 'Ensino Superior Completo' %}
                        selected="selected"
                        {% endif %}>Ensino Superior Completo</option>
                        <option value="Mestrado"
                        {% if teacher.degree == 'Mestrado' %}
                         selected="selected"
                        {% endif %}>Mestrado</option>
                        <option value="Doutorado"
                        {% if teacher.degree == 'Doutorado' %}
                         selected="selected"
                        {% endif %}>Doutorado</option>
                    </select>
                </div>
            </div>
            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input type="text" 
                    name="areas" 
                    placeholder="Coloque  os serviços separado com virgula"
                    value="{{teacher.areas}}"
                    >
                </div>
            </div>
            <div class="item">
                <div>Tipo de Aula</div>
                <div>
                    <span><input type="radio" 
                    name="typeofclass" value="Presencial"
                    {% if teacher.typeofclass == 'Presencial' %}
                    checked
                    {% endif %}>Presencial</span>
                    <span><input type="radio" 
                    name="typeofclass" value="EAD"
                    {% if teacher.typeofclass == 'EAD' %}
                    checked
                    {% endif %}>EAD</span>
                </div>
            </div>
            <button type="submit">Salvar</button>